<div class="parent">
    <div class="card">
        <h2>Login</h2>

        <!-- SE CONNECTER / S'INSCRIRE -->
        <div class="login_register">
            <a href="
        
        " class="login" target="blank">Log In</a>
            <a href="
        " class="register" target="blank">Sign Up</a>
        </div>

        <!-- FORMULAIRE -->
        <form class="form">
            <input type="email" name="EmailId" [(ngModel)]="loginObj.EmailId" [ngModelOptions]="{ standalone: true }"
                placeholder="Email Adress" class="email">
            <input type="password" anme="Password" [(ngModel)]="loginObj.Password"
                [ngModelOptions]="{ standalone: true }" placeholder="password" class="pass">
        </form>

        <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>

        <!-- BOUTTON LOGIN -->
        <button type="button" (click)="onLogin()" class="login_btn">Login</button>

        <!-- PIED DE LA CARD -->
        <div class="footer_card">
            <p>Not a member?</p>
            <a href="#">Signup now</a>
        </div>
    </div>
</div>